/* Input widget */
.table-styles {
    margin-bottom: 15px;
}
.table-header {
    display: inline-block;
}
.box-custom {
    height: 450px;
    margin-bottom: 25px;
}
.add-row-btn-wrapper {
    display: inline-block;
}
.add-row-btn {
    border: none;
    box-shadow: none;
    color: #60ce60;
    font-size: 18px;
}
.info-label-nowrap {
    white-space: nowrap;
}
@media only screen and (max-width: 1199px) {
    .custom-2 {
        width: 100%;
    }
    .custom-2.box-custom {
        height: unset;
        margin-bottom: 0px;
    }
    .outer-height{
        height: 475px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1199px) {
    .reverse-custom {
        display: flex;
        flex-flow: row-reverse;
    }
}
@media only screen and (min-width: 1200px) {
    .custom-4 {
        width: 33.33333333%;
    }
    .custom-8 {
        width: 66.66666667%;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1399px) {
    .custom-2 {
        width: 100%
    }
    .custom-2.box-custom {
        height: unset;
        margin-bottom: 0px;
    }
    .outer-height{
        height: 475px;
    }
    .custom-4 {
        width: 25%;
    }
    .custom-8 {
        width: 75%;
    }
}

/* RES network */
.custom-css .row-custom {
      margin-left: 0;
      margin-right: 0;
}
.custom-css .align-items-center {
      display: flex;
      -webkit-box-align: center!important;
      -ms-flex-align: center!important;
      align-items: center!important;
}
.custom-css .align-items-center .col-sm-2,
.custom-css .align-items-center .col-sm-3 {
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
}
.custom-css .flow-chart {
    min-height:250px;
}
.custom-css .flow-chart-outer > .flow-height {
    max-height: 45vh;
    overflow: auto;
}
.custom-css .flow-chart-outer {
    margin: 10px 25pt 30pt 0;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #f1f1f18f;
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 10%);
}
.custom-css .side-padding{
    padding-left: 15px;
    padding-right: 15px;
}
.custom-css .side-margin{
    margin-left: 15px;
    margin-right: 15px;
}
.custom-css .com-proc-item {
  line-height: 16px;
  font-size: 12px;
  text-align: center;
  border-radius: 20px;
  padding: 5px;
  display: block;
  box-shadow: 0 1px 4px rgb(0 0 0 / 10%);
  margin: 4px 3px;
  border: 1px solid;
  cursor: pointer;
  color: #1d2121;
  overflow-wrap: break-word;
}
.node-el {
   border: 2px solid black;
   padding: 5px;
   text-align: center;
   background-color: #fff;
   overflow-wrap: break-word;
}
.node-column {    
   padding-left: 8px;
   padding-right: 8px;

}
.flow-arrow {
    text-align: center;
    font-size:40px;
    padding-left: 0;
    padding-right: 0;
}
.flow-arrow-small {
    font-size:30px;
}
@media (prefers-color-scheme:dark){
    .custom-css .com-proc-item,
    .node-el {
        background-color: #393e46;
    }
    .custom-css .flow-chart {
        background-color: #4e545d;
    }
    .custom-css .flow-chart-outer {
        background-color: #4e545d;
    }
    .flow-arrow {
        color: #1d2121;
    }
    .pvtAxisContainer, .pvtVals {
      background: #4e545d;
    }
    table.pvtTable tbody tr td {
      color: #eee;
      background-color: #393e46;
    }
    table.pvtTable tbody tr th, 
    table.pvtTable thead tr th {
      background-color: #292d33;
    }
    .pvtAxisContainer li span.pvtAttr {
      background-color: #393e46;
      border-color: #292d33;
    }
    .pvtUi {
      color: #eee;
    }
}
.custom-css .com-proc-item:hover {
    background-color: #e7e7e7;
    border-color: #adadad;
    color: #1d2121;
    transition: all .5s ease;
}
.flow-item-list {
    padding: 5px;
}
.custom-list {
  margin: 0;
  padding: 0;
}
.flow-row {
  margin: 10pt 0 35pt 0;
}
.legend-row {
  padding-top: 25pt;
  text-align: center;
}
.legend-row ul {
  display: inline;
  padding-left: 0;
}
.legend-row .legend-item {
  line-height: 10px;
  cursor: auto;
  padding: 5px 15px;
  display: inline-block;
}
.float-lg {
    float:right;
}
@media only screen and (max-width: 1199px){
    .custom-css .flow-chart-outer {
        margin-right: 0;
    }
    .float-lg {
        float:unset;
    }
}
img + em {
    display: block; 
}

/* Dashboard */
.custom-css .small-box,
.custom-css .info-box {
  cursor: pointer;
}
.custom-css .small-box:hover,
.custom-css .info-box:hover {
  filter: brightness(85%);
}
.custom-dropdown .selectize-input {
  min-height: 21px;
  padding: 1px 5px;
}
.custom-dropdown .selectize-control.single .selectize-input:after,
.custom-dropdown-wide .selectize-control.single .selectize-input:after{
        right: 5px;
}
.custom-dropdown .form-group,
.custom-dropdown .selectize-control,
.custom-dropdown-wide .form-group,
.custom-dropdown-wide .selectize-control {
  margin-bottom:0;
}
.custom-dropdown-wide .selectize-input {
  min-height: 22px;
  padding: 1px 5px;
}
@media only screen and (min-width: 576px){
   .custom-dropdown {
       float:right;
   }
   .custom-dropdown .selectize-input {
       width: 80px;
   }
   .custom-dropdown.medium-width .selectize-input  {
       width: 85px;
   }
   .custom-dropdown-wide {
       float:right;
       min-width:250px;
       max-width:300px;
   }
}
@media only screen and (max-width: 575px){
   .custom-dropdown,
   .custom-dropdown.medium-width,
   .custom-dropdown-wide {
       width: 100%;
   }
}
.custom-dropdown,
.custom-dropdown-wide {
    padding: 0 5px;
    min-height: 25px;
}
.custom-info-box {
  background-color: #ecf0f5;
  box-shadow: rgba(60, 64, 67, .3) 0 1px 1px 0, rgba(60, 64, 67, .15) 0 4px 8px 1px;
  border: 1px solid #d5d9d9;
}
@media (prefers-color-scheme:dark){
  .custom-info-box {
    background-color: #292d33;
    box-shadow: 0 1px 1px #1d2121;
    box-shadow: rgba(29, 33, 33, 0.3) 0 2px 1px 0, rgba(29, 33, 33, 0.3) 0 4px 8px 1px;
    border: 1px solid #121314;
  }      
}
.box-styles {
    flex-grow: 1; 
    padding-left:0px;
    padding-right:0px;
    /*
    min-width:230px; 
    */

}
.box-styles {
    width: 100%;
}
@media only screen and (min-width: 1500px){
    .box-styles {
        width: 50%;
    }
}
@media only screen and (min-width: 576px) and (max-width: 1199px){
    .box-styles {
        width: 50%;
    }  
}
.box-styles.box-large {
    width: 100%;
}
@media only screen and (max-width: 767px){
    .custom-css .small-no-float {
        float: none;
    }
}
.custom-css .dashboard-chart-wrapper {
    min-width: 280px;
    height:300px;
}

.custom-info-box .info-box-image {       
    display: block;
    height: 90px;
    line-height: 90px;
}
#scen-split-view .padding-custom-split {
    padding-left:5px;
    padding-right:5px;
}
.custom-info-box .info-box-text {
    font-size: 13px;
    white-space: normal;
    text-overflow: inherit;
}
@media only screen and (max-width: 1199px){
    .custom-info-box {
        min-height: 60px;
        margin-bottom: 10px;
    }
    .custom-info-box .info-box-icon {
        font-size: 35px;
        height: 60px;
        line-height: 60px;
        width: 60px;
    }
    .custom-info-box .info-box-content {
        margin-left: 60px;
        padding: 5px 10px;
    }
    .custom-info-box .info-box-text {
        font-size: 13px;
        white-space: nowrap;
        text-overflow: ellipsis;
    } 
    /*
    .box-styles {
        min-width:217px;
    }
    */
    .valueboxes .box-styles > div{
       padding-right: 5px;
       padding-left: 5px;
    }
    .padding-custom:not(#scen-split-view .padding-custom) {
        padding-left:5px;
        padding-right:5px;
    }
    
}
@media only screen and (min-width: 1714px) {
    .custom-info-box {
        min-height: 85px;
    }
    .custom-info-box .info-box-icon {
        height: 85px;
        line-height: 85px;
        width: 85px;
    }
    .custom-info-box .info-box-image {
        height: 85px;
        line-height: 85px;
    }
    .custom-info-box .info-box-content {
        margin-left: 85px;
    }
}
@media only screen and (min-width: 1200px) and (max-width: 1713px){
    .custom-info-box {
        min-height: 75px;
        margin-bottom: 10px;
    }
    .custom-info-box .info-box-icon {
        font-size: 35px;
        height: 75px;
        line-height: 75px;
        width: 75px;
    }
    .custom-info-box .info-box-image {
        height: 75px;
        line-height: 75px;
    }
    .custom-info-box .info-box-content {
        margin-left: 75px;
        padding: 5px 10px;
    }
    .custom-info-box .info-box-text {
        font-size: 13px;
    }
    /*
    .box-styles {
        min-width:217px;
    }
    */
    .valueboxes .box-styles > div{
       padding-right: 5px;
       padding-left: 5px;
    }
    .padding-custom:not(#scen-split-view .padding-custom) {
        padding-left:5px;
        padding-right:5px;
    }
}
@media only screen and (min-width: 1714px){
    .valueboxes .box-styles > div{
       padding-left:5px;
       padding-right: 10px;
    }
    .custom-css .custom-padding {
        padding-left: 5px;
        padding-right: 10px;
    }
}
/*
.custom-flex-row {
    display: flex;
    flex-wrap: wrap;
}
*/
.outer-row {
    overflow: hidden;
}
@media only screen and (max-width: 767px){
    .outer-row {
        overflow:auto;
    }
}
.custom-grid{
    width:100%
} 
@media only screen and (min-width: 1443px) {
    .custom-grid:not(#scen-split-view .custom-grid){
        width:50%
    }
}

@media only screen and (min-width: 1200px){
    .custom-grid-left:not(#scen-split-view .custom-grid-left){
        width: 66.66666667%;
        right: 33.33333333%;
        padding-left: 0;
    }
    .custom-grid-right:not(#scen-split-view .custom-grid-right){
        width: 33.33333333%;
        left: 66.66666667%;
        min-height: 80vh;
    }
    @-moz-document url-prefix() {
        .custom-grid-right:not(#scen-split-view .custom-grid-right){
            min-height: 100vh;
        }
    }
}

#scen-split-view .custom-grid {
    padding-left: 5px;
    padding-right: 5px;
}
#scen-split-view .custom-grid-right,
#scen-split-view .custom-grid-left {
    width:100%;
}
#scen-split-view .custom-info-box {
    min-height: 60px;
    margin-bottom: 10px;
}
#scen-split-view .custom-info-box .info-box-icon {
    font-size: 35px;
    height: 60px;
    line-height: 60px;
    width: 60px;
}
#scen-split-view .custom-info-box .info-box-image {
    height: 60px;
    line-height: 60px;
}
#scen-split-view .custom-info-box .info-box-content {
    margin-left: 60px;
    padding: 5px 10px;
}
#scen-split-view .custom-info-box .info-box-text {
    font-size: 13px;
}
#scen-split-view .box-styles {
    min-width:217px;
}
#scen-split-view .valueboxes .box-styles > div{
   padding-right: 5px;
   padding-left: 5px;
}
#scen-split-view .padding-custom:not(#scen-split-view .padding-custom) {
    padding-left:5px;
    padding-right:5px;
}
#scen-split-view .col-sm-6.box-styles{
    padding-left: 0px;
    padding-right: 0px;
}
@media only screen and (max-width: 1713px){
  .custom-highlight-block {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media only screen and (min-width: 1714px){
  #scen-split-view .custom-highlight-block {
    padding-left: 5px;
    padding-right: 5px;
  }
}
.table-chart-small-wrapper {
    overflow: hidden;
    min-width:350px;
    max-height:220px;
}

.table-chart-wide-widgets {
    margin:0 0 10px 0;
}
@media only screen and (min-width: 768px){
    .table-chart-wide-wrapper {
        min-width:400px;
    }
}
.custom-widget .htCommentCell:after {
    border-width: 0;
}
.custom-widget .handsontable.listbox .listbox {
    background: #eee;
}
@media (prefers-color-scheme:dark){
    .custom-widget .handsontable.listbox .listbox {
        background: #393e46;
    }
}
.custom-widget .handsontable.listbox tr td.current, 
.custom-widget .handsontable.listbox tr:hover td {
    background: #91c8e8;
}

